/*
  * The Banner text aligns correctly but still has some issues
  TODO: must fix the responsiveness of the banner
  ! Don't change anything yo will regret 
*/
.home {
  width: 100%;
  padding-top: 150px;
  margin: auto;
  font-family: monospace;
}
.banner__image {
  z-index: -1;
  position: absolute;
  left: -28%;
  width: 100%;
  object-fit: contain;
  top: 22%;
  background-color: transparent;
}
.banner__text {
  margin-top: 10%;
  z-index: 1;
  font-weight: 700;
  font-size: 20px;
  padding: 7px 13px;
  float: right;
  margin-right: 100px;
  -webkit-tap-highlight-color: transparent;
}
.each-fade img {
  width: 240px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  object-fit: contain;
}
h1 {
  color: #fff;
}
p {
  color: #fff;
}
strong {
  color: #2196f3;
}
.name {
  margin-bottom: 9px;
}
.role {
  font-size: 70px;
  top: 0;
}
.typing {
  color: #2196f3;
}

/* Responsiveness  code change code inside the media query but not the size of them*/
@media (max-width: 952px) {
  .banner__image {
    z-index: -1;
    position: absolute;
    left: -70px;
    width: 50%;
    object-fit: contain;
    top: 150px;
    margin-top: 0;
    background-color: transparent;
  }
  .each-fade img {
    width: 162px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    object-fit: contain;
  }
  .banner__text {
    margin-top: 8%;
    z-index: 1;
    font-weight: 700;
    font-size: 12px;
    padding: 7px 13px;
    float: right;
    margin-right: 20px;
    -webkit-tap-highlight-color: transparent;
  }
}

@media (max-width: 858px) {
  .home {
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 150px;
    margin: auto;
    font-family: monospace;
  }
  .banner__image {
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    position: static;
    width: 50%;
    object-fit: contain;
    top: 150px;
    background-color: transparent;
  }
  .banner__text {
    position: static;
    margin-top: 8%;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    font-weight: 700;
    font-size: 12px;
    padding: 7px 13px;
    float: right;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
  }
  .each-fade img {
    width: 200px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    object-fit: contain;
  }
}
