.header {
    height: 60px;
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    text-align: center;
}

.header__logo {
    width: 50px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    
}

.header__navOption {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 13px;
    font-weight: 800;
}