li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  background: #0f0f0f;
}

.navbar .navbar__logo{
  width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
}