* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.nav {
    height: 70px;
    align-items: center;
    background-color: #0f0f0f;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 10px 8px #000;
}

.logo {
    position: absolute;
    left: 5%;
    width: 70px;
    object-fit: contain;
    top: 4px;
    background-color: transparent;
}

.nav__option {
  text-decoration: none;
    display: inline-block;
    line-height: 70px;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 800;
    transition: 0.5s;
}
span {
  position: relative;
}
.nav__option:hover {
  cursor: pointer;
  color: #2196F3;
}

.nav__links {
    float: right;
    margin-right: 25px;
    color: white;
    background-color: transparent;
}

.burger {
  color: white;
  font-size: 30px;
  visibility: hidden;
}

@media (max-width: 768px) {
  .burger {
    margin-right: 30px;
    visibility: visible;
  }
  .nav__option {
    visibility: hidden;
  }
}